<div class="container-fluid">
    <div class="row">
        <div class="row text-center mt-3">
            <div class="dropdown-center" *ngIf="occasionsResponse">
                <button class="btn btn-outline-dark border shadow-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="width: 200px;">
                    Occasion
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let occasion of occasionsResponse"><a (click)="getCakesByOccasion(occasion)" class="dropdown-item">{{occasion}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 p-3" *ngFor="let cakeObj of cakesResponse">
            <div class="card" style="width: 100%;">
                <img [src]="cakeObj.image" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{cakeObj.name}}</h5>
                    <p class="card-text">{{cakeObj.price | currency: 'INR'}}</p>
                    <div class="text-center">
                        <button [routerLink]="['/cake-view', cakeObj.id]" class="btn btn-outline-primary">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>